In [ ]:
pip install pandas-profiling

In [1]:
import pandas as pd
import numpy as np
from pandas_profiling import ProfileReport

In [2]:
data = pd.read_csv('Clientele_Analysis.csv')

/Users/Anh/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3331: DtypeWarning: Columns (13,14,15) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [3]:
# drop the index column
data = data.drop('Unnamed: 0', axis=1)

In [4]:
# drop empty column
data = data.drop('Metrics', axis=1)

In [5]:
data.tail(5)

,Code Brand,Week,Week of Year Number,Department Group,Kering Location Subtype,Kering Region,Kering Clientele Area Regional,Kering Clientele Area Regional Group,Country / Region,Customer Country / Region,Kering District,Sales (Value),Sales LY (Value),Sales LY2 (Value)
789225,51,Wk. 4 November 2021,48,OTHERS,Travel Retail,EMEA,Employee,Other,Italy,Not Defined,Western Europe,0,0,0
789226,51,Wk. 4 November 2021,48,OTHERS,Travel Retail,JAPAN,Local,Local,Japan,JAPAN,Japan,6,0,0
789227,51,Wk. 4 November 2021,48,OTHERS,Travel Retail,JAPAN,Korea,Tourist,Japan,Not Defined,Japan,1,0,0
789228,51,Wk. 4 November 2021,48,OTHERS,Travel Retail,JAPAN,Korea,Tourist,Japan,REPUBLIC OF KOREA,Japan,2,0,0
789229,51,Wk. 4 November 2021,48,OTHERS,Travel Retail,JAPAN,Clientele area not registered,Other,Japan,Not Defined,Japan,0,0,15

In [6]:
# clean the Sales columns because of format difference ("," for the thousand separator)
data['Sales (Value)'] = data['Sales (Value)'].astype(str)
data['Sales LY (Value)'] = data['Sales LY (Value)'].astype(str)
data['Sales LY2 (Value)'] = data['Sales LY2 (Value)'].astype(str)

In [7]:
data['Sales (Value)'] = data['Sales (Value)'].str.replace(',','')
data['Sales LY (Value)'] = data['Sales LY (Value)'].str.replace(',','')
data['Sales LY2 (Value)'] = data['Sales LY2 (Value)'].str.replace(',','')

In [8]:
data['Sales (Value)'] = pd.to_numeric(data['Sales (Value)'])
data['Sales LY (Value)'] = pd.to_numeric(data['Sales LY (Value)'])
data['Sales LY2 (Value)'] = pd.to_numeric(data['Sales LY2 (Value)'])

In [9]:
# generate profiling report
profile = ProfileReport(data, title="Pandas Profiling Report", explorative=True)

In [10]:
profile.to_file("Luxury_Sales.html")

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

/Users/Anh/opt/anaconda3/lib/python3.7/site-packages/pandas_profiling/model/correlations.py:120: RuntimeWarning: invalid value encountered in greater_equal
  bool_index = abs(correlation_matrix.values) >= threshold

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

In [49]:
sales = data

In [61]:
# fill in Custom Country/Region column where it's Not Defined
sales['Customer Country / Region'] = np.where((sales['Customer Country / Region'] == "Not Defined") 
                                              & (sales['Kering Clientele Area Regional Group'] == "Local"),
                                              sales['Country / Region'],
                                              sales['Customer Country / Region'])
sales['Customer Country / Region'] = np.where((sales['Customer Country / Region'] == "Not Defined") 
                                              & (sales['Kering Location Subtype'] == "E-Commerce"),
                                              sales['Country / Region'],
                                              sales['Customer Country / Region'])
sales['Customer Country / Region'] = np.where((sales['Customer Country / Region'] == "Not Defined") 
                                              & (sales['Kering Clientele Area Regional Group'] == "Other"),
                                              sales['Kering Clientele Area Regional'],
                                              sales['Customer Country / Region'])
sales['Customer Country / Region'] = np.where((sales['Customer Country / Region'] == "Not Defined") 
                                              & (sales['Kering Clientele Area Regional Group'] == "Tourist"),
                                              sales['Kering Clientele Area Regional'],
                                              sales['Customer Country / Region'])

In [63]:
profile2 = ProfileReport(data, title="Pandas Profiling Report", explorative=True)
profile2.to_file("Luxury_Sales v2.html")

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

/Users/Anh/opt/anaconda3/lib/python3.7/site-packages/pandas_profiling/model/correlations.py:120: RuntimeWarning: invalid value encountered in greater_equal
  bool_index = abs(correlation_matrix.values) >= threshold

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]